main{
    float: left;
    width: 100%;
    margin-top: 85%;
    text-align: center;
}

main div{
    width: 85%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 5%;
    border: none;
    border-radius: 40px;
    background-color: #e0ff00;
}

main div h2{
    color: #2c333b;
}

main div input{ 
    margin: 7% 2%; 
    width: 75%;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    }